 
body {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	background-color: #1a1a1a;
	color: #ccc;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Arial, sans-serif;
	font-size: 10pt;
	padding-top: 20px;
}

h1 {
	text-align: center;
}

a {
	color: #e8cc8e;
	text-shadow: #777 1px 1px 3px;
	text-decoration: none;
	outline: none;
	-moz-outline: none;
}

a:hover {
	color: #aaf;
	text-decoration: underline;
}

a:focus {
	color: #aaf;
	text-shadow: #aa5 0px 0px 5px;
	text-decoration: underline
}

#content, #news, #footer {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border-top: 2px solid #444;
}

#content {
	padding: 5px;
	text-shadow: #000 0px 0px 5px;
}

#news {
	border-top: none;
	margin-top: 15px;
}

#link-bar {
	font-size: 0;
	letter-spacing: -1px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#link-bar * {
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 0px;
}

#link-bar * + * {
	border-left: 2px solid #444;
}

#content .box {
	text-shadow: none;
}

img {
	vertical-align: text-bottom;
	border: none;
}

#share {
	padding: 0;
	width: 32px;
	float: right;
	margin-left: 5px;
	margin-top: 2px;
}

#share > a, #rss {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0;
	background-image: url('images/icons.png');
	background-repeat: no-repeat;
	margin-bottom: 5px;
	filter: url(images/filters.svg#grayscale); /* Firefox 3.5+ */
	filter: gray;
	opacity: 0.15;
	filter: alpha(opacity=15); /* IE8 and earlier */
}

#share > hr {
	margin: 5px;
	border: 1px solid #2a2a2a;
	margin-left: 2px;
	margin-right: 2px;
}

#share > a:hover, #share > a:focus, #rss:hover, #rss:focus {
	opacity: 1;
	filter: none;
	-webkit-filter: grayscale(0);
}

#identica    { background-position:   -0px; }
#reddit      { background-position:  -32px; }
#google-plus { background-position:  -64px; }
#twitter     { background-position:  -96px; }
#facebook    { background-position: -128px; }
#ohloh       { background-position: -160px; }
#github      { background-position: -192px; }
#sourceforge { background-position: -224px; }
#moddb       { background-position: -256px; }
#freecode    { background-position: -288px; }

#rss {
	float: right;
	width: 24px;
	height: 24px;
	background-position: -320px 0px;
	margin: 4px;
	margin-right: 0px;
}

.screenshot {
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: #000 1px 1px 2px;
	font-size: 8pt;
	text-align: center;
}

.screenshot.right {
	float: right;
	margin-right: 10px;
	margin-left: 20px;
}

.screenshot img {
	display: block;
	box-shadow: 0px 0px 3px 1px #654;
	margin-bottom: 7px;
}

.section + .section {
	padding-top: 2px;
}

#share > a:focus, .screenshot a:focus img {
	box-shadow: 0px 0px 5px 1px #aaa;
	background-color: #666;
}

h2 {
	color: #777;
	margin: 5px;
	text-align: center;
	margin-bottom: 0px;
}

h3 {
	margin: 7px;
	margin-top: 15px;
}

h3 a {
	color: #eee;
	text-shadow: none;
}

#news h3:before {
	content: "\00bb\0020";
	color: #555;
}

#news h3:after {
	content: "\0020\00ab";
	color: #555;
}

#news h3 time {
	float: right;
	font-size: 10pt;
	color: #666;
	text-shadow: #000 1px 1px 2px;
}

#footer {
	font-size: 8pt;
	padding-top: 8px;
	margin-top: 40px;
	color: #555;
}

#content + #footer {
	margin-top: 0px;
}

#news .item {
	padding-bottom: 5px;
}

#news .item + .item {
	border-top: 1px dotted #555;
}

#news .navigate + .item {
	margin-top: 5px;
	border-top: 1px dotted #555;
}

#footer a {
	color: #543;
	text-shadow: none;
}

#news , .box {
	background-color: #2c2c2a;
	padding: 5px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 10px;
	box-shadow: inset 0px 0px 10px 2px #181818;
}

.os {
	width: 16px;
	height: 16px;
	background-image: url('images/icons.png');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	margin-right: 3px;
	display: inline-block;
	vertical-align: bottom;
}
.os.windows { background-position:   -344px  -0px; }
.os.linux   { background-position:   -360px  -0px; }
.os.macosx  { background-position:   -344px -16px; }
.os.freebsd { background-position:   -360px -16px; }

#news .navigate {
	height: 1em;
	padding-top: 2px;
	padding-bottom: 6px;
	border-top: 1px dotted #3a3a3a;
}

#news .navigate .next:before {
	content: "\00bb\0020";
	color: #555;
}

#news .navigate .prev:after {
	content: "\0020\00ab";
	color: #555;
}

#news .navigate .prev, #news .navigate .next {
	float: right;
	margin: 0px;
	padding: 0px;
}

#news .navigate .prev {
	float: left;
}

#news .item .more {
	height: 1em;
	position: relative;
	top: -6px;
	padding-bottom: 2px;
}

#news .item .more:before {
	content: "[...]";
	color: #666;
}

#news .item .more a:before {
	content: "(";
	font-size: 80%;
}

#news .item .more a:after {
	content: ")";
	font-size: 80%;
}

#news .item .more a {
	float: right;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}
